[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
    margin-bottom: 5px;
    overflow: hidden;
    background: #f7f7f7;
    border: 0;
    border-radius: 2px;
}
