<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="szp.audio.audio_java.Dao.DatasetDao">
    <insert id="insertDataset">
        insert into audio(name, language, size, hour, people, form, distribution)
        VALUES (#{datasetName}, #{language}, #{size}, #{hour}, #{people}, #{form}, #{description})
    </insert>

    <insert id="insertDatasetUploadHistory">
        insert into datasethistory(name, time)
        VALUES (#{name}, #{date})
    </insert>

    <select id="getDatasetHistories" resultType="szp.audio.audio_java.Entity.DatasetHistory">
        select id, name, time
        from datasethistory
    </select>

    <update id="clearHistory">
        truncate table datasethistory
    </update>
</mapper>