<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace指定哪个DAO接口-->
<mapper namespace="szp.audio.audio_java.Dao.DatasetMapper">
    <insert id="insertDataset">
        insert into audio(name, language, size, hour, people, form, distribution)
        VALUES (#{datasetName}, #{language}, #{size}, #{hour}, #{people}, #{form}, #{description})
    </insert>

</mapper>