<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="szp.audio.audio_java.Dao.ModelDao">
    <insert id="insertModelUploadHistory">
        insert into modelHistory(name, time)
        VALUES (#{name}, #{date})
    </insert>

    <select id="getModelHistories" resultType="szp.audio.audio_java.Entity.ModelHistory">
        select id, name, time
        from modelHistory
    </select>

    <update id="clearHistory">
        truncate table modelHistory
    </update>
</mapper>